{% extends 'buyer/base.html' %}

{% block title %}
    收货地址
{% endblock %}


{% block content %}
    	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/Buyer/user_center_info">· 个人信息</a></li>
				<li><a href="/Buyer/user_center_order">· 全部订单</a></li>
				<li><a href="/Buyer/user_center_site" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
{#					<dl>#}
{#						<dt>当前地址：</dt>#}
{#						<dd>北京市 海淀区 东北旺西路8号中关村软件园 （李思 收） 182****7528</dd>#}
{#					</dl>#}
                <dl>
                    <dt>当前地址</dt>
                </dl>
{#                    {% for i in address %}#}
                    <div><input type="checkbox" name="address" class="item1" checked>地址:{{ user_address }},收件人:{{ user_name }},电话:{{ user_phone }}</div>
{#                    {% endfor %}#}
				</div>
				<h3 class="common_title2" >编辑地址</h3>
				<div class="site_con">
					<form method="post">
                        {% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="user_name">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="user_address"></textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="user_post">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="user_phone">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>
{% endblock %}

{% block script %}
    <script>
        $('.item1').click(
            function () {
                alert(1111)
            }
        )
    </script>
{% endblock %}